@charset "utf-8";

body {
    font-family: 'Malgun Gothic','맑은 고딕','돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif !important;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
    padding:0px !important;
}

.no-drag{
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webskit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    overscroll-behavior-x: none;
}
.main-outer-wrapper{
    position: absolute;
    width: 100%;
    height: inherit;
    left: 0;
    z-index: 3;
    overflow: hidden;
}
.main-inner-wrapper{
    height: inherit;
    margin: 0 auto;
    display: table;
}
.main{
    position: relative;
    height: inherit;
    width: 100%;
    overflow: hidden;
}
.main-img{
    background-image: url(../img/main/main.jpeg);
    background-position: 50% 0%;
    height: inherit;
    width: 768px;
    margin: auto;
}
.last{
    position: inherit;
    height: 550px;
}
.footer-img{
    background-image: url(../img/main/main.jpeg);
    height: 100%;
    width: 100%;
    max-width: 1500px;
    margin: auto;
}
#calendar .week {
    display: flex;
}
#calendar .week div:nth-child(1) {
    color: red;
}
#calendar .day {
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#calendar .holiday {
    color: red;
}
#calendar .highlight {
    color: red;
    font-weight: bold;
}
#calendar .empty {
    width: 38px;
    height: 38px;
}