@charset "utf-8";

@font-face {
    font-family: 'IropkeBatangM';
    src: url(../font/IropkeBatangM/IropkeBatangM.eot);
    src:url(../font/IropkeBatangM/IropkeBatangM.woff) format('woff');
    font-style: normal;
}


body {
    font-family: 'IropkeBatangM','Malgun Gothic','맑은 고딕','돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif !important;
    font-width: 400;
    overflow-x: hidden;
    overflow-y: auto;
    padding:0px !important;
    background-color: #fbfbfb;
    color: #544f4f;
    touch-action: pan-x pan-y;
    -webkit-overflow-scrolling: touch;
}

.mfp-bg{
    z-index:2000;
    -webkit-transform: translateZ(0);
}

.mfp-wrap {
    z-index: 2001;
}

.mfp-content {
    z-index: 2003;
}

.mfp-preloader {
    z-index: 2002;
}

button.mfp-close, button.mfp-arrow {
    z-index: 2003;
}

body.mfp-zoom-out-cur {
    overflow: hidden;
    touch-action: none;
    -webkit-overflow-scrolling: auto;
}


.no-drag{
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webskit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    overscroll-behavior-x: none;
}

a, a:hover, a:active, a:focus {
    color: unset;
    text-decoration: none;
    cursor: pointer;
}
.main-info{
    color: #292d32;
    margin-top: 225px;
}
.main-txt{
    color: #544f4f;
}
.cover-container{
    max-width: 500px;
}
.greeting-container{
    font-size: .9rem;
    line-height: 2.5rem;
    white-space: pre-line;
}
.greeting-container .highlight {
    font-weight: bolder;
    font-size: 1rem;
  }
.name-container{
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 20px;
}
.name-block{
    display: flex;
    flex-direction: column;
    width: 65px;
}
.date-container{
    background-color: #f6f5f5;
}
.map-container{
    margin: 0 auto;
    max-width: 350px;
}
#grid-container{
    left: 3%;
}
.account-container{
    font-size: .9rem;
    line-height: 2rem;
    white-space: pre-line;
}
.gift-container{
    margin: 0 auto;
    max-width: 350px;
}
.thank-container{
    color: #544f4f;
}
.mw-50{
    min-width: 50px;
}
.lh-15{
    line-height: 1.5;
}
.font-small{
    font-size: smaller;
}

.relation{
    font-size: 1rem;
    color: #8a857f;
}
.mr-5{
    margin-right: 5px;
}
.mr-10{
    margin-right: 10px;
}
.link-btn{
    line-height: 2rem;
    font-size: .9rem;
}
.location-address {
    font-size: 15px;
    color: #797979;
}
.main-img{
    background-image: url(../img/gallery/0.jpg);
    background-size: cover;
    background-position: top;
    height: 700px;
}

.sub-img{
    background-image: url(../img/gallery/12.jpg);
    background-size: cover;
    background-position: top;
    background-position-y: 0px;
    height: 360px;
    border-radius: 6px;
    max-width: 390px;
}
.footer-img{
    background-image: url(../img/gallery/19.jpg);
    background-size: cover;
    background-position: center;
    height: 450px;
}
.sub-title{
    font-size: .7rem;
    color: #c2b2b2;
    letter-spacing: 3px;
    line-height: 20px;
}
.main-title {
    color: #89757a;
    letter-spacing: .5px;
}
.grid-item {
    width: 28%;
    aspect-ratio: 1;
    border-radius: 5px;
    margin: 5px 5px 0 5px;
    overflow: hidden;
    display: -webkit-inline-box;
    transition: opacity 1s ease-out;
}
.grid-item img {
    display: block;
    min-width: 100%;
    max-width: 100%;
    object-fit: cover;
}
.grid-item:hover {
    opacity: 0.8;
    cursor: pointer;
}
.grid-item img:hover {
    transform: scale(1.2);
    transition: transform .5s;
}
.hidden-photo{
    transition:visibility 0.3s linear,opacity 0.3s linear;
    opacity: 1;
}
.visually-hidden {
    opacity: 0;
}
.visible {
    opacity: 1;
}
#calendar {
    padding: 20px 0;
    border: 0.5px solid #d1c8c8;
    border-left: 0;
    border-right: 0;
}

#calendar .week {
    display: flex;
}
#calendar .week div:nth-child(1) {
    color: #e95a42;
}
#calendar .day {
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#calendar .holiday {
    color: #e95a42;
}
#calendar .highlight {
    background: radial-gradient(ellipse at center, #e95a42 60%, #ffffff00 61%);
    color: #fff;
}
#calendar .empty {
    width: 38px;
    height: 38px;
}

.map-navi {
    text-align: left;
    padding: 6px 10px;
    display: flex;
    color: #000;
    font-size: .9rem;
    height: 3rem;
    background-color: #f2eeee;
}
.map-navi>div {
    flex: 1.2;
    margin: auto;
    height: 1.1rem;
    line-height: 1.1rem;
    border-right: 1px solid rgba(97, 80, 67, .15);
    text-align: center;
    cursor: pointer;
}
.map-navi img {
    position: relative;
    top: -1px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 4px;
    border-radius: 16%;
}

.map-navi>div:last-child {
    flex: 1;
    border-right: 0;
}

.copyright {
    font-size: 10px;
    color: rgba(0, 0, 0, .4);
    letter-spacing: .5px;
}
.copyright-saybeom{
    color: rgba(0, 0, 0, .7);
}
.d-countdown {
    background: #f2eeee;
    color: #89757a;
    border-radius: 8px;
    height: 70px;
    margin: 0 20px;
    min-width: 200px;
}
.countdown-section {
    line-height: 25px;
    padding-top: 10px;
    width: 24.5%;
}
.countdown-amount {
    font-size: 180%;
}
.countdown-period {
    font-size: smaller;
    color: #c2b2b2;
}
.red-color{
    color: #e95a42;
}
.way-map{
    text-align: left;
    margin: 0 auto;
    max-width: 350px;
}
.way-map .i-width{
    min-width: 25px;
    text-align: center;
}
.way-map .guide{
    font-size: 14px;
    line-height: 1.7rem;
    display: grid;
}
.way-map .way-title{
    max-width: 250px;
    font-weight: bold;
    color: #2c2c2e;
}
.contact-a{
    padding: 10px 0px;
    width: 270px;
    margin: 0 auto;
    display: inline-block;
}
.contact-btn {
    width: 270px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #d1c8c8;
    cursor: pointer;
}
.contact-btn:hover {
    border: 1px solid #b8b8b8;
}
.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
    border-radius: 3px;
}
#contact-popup .grid_line {
    border-bottom: 1px solid #d1c8c8;
    padding-bottom: 9px;
    margin: 0 15px;
    font-size: 16px;
    text-align: left;
    color: #89757a;
}
#contact-popup .grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px 15px;
    align-items: center;
}
#contact-popup .grid>.cell:nth-child(1) {
    text-align: left;
    font-size: 14px;
}
#contact-popup .grid>.cell.name {
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
#contact-popup .grid>.cell:nth-child(3) {
    text-align: right;
    letter-spacing: 7px;
}
#contact-popup .grid>.cell>a:hover {
    color: #2c2c2e;
}
.gift-btn{
    display: inline-block;
    text-align: center;
    color: #524548 !important;
    background: #f2eeee !important;
}
.gift-main-body{
    text-align: left;
    line-height: 26px;
    font-family: 'Malgun Gothic', '맑은 고딕', sans-serif;
}
.gift-body{
    display: flex;
}
.accordion-item button::after {
    position: absolute;
    z-index: 100;
    right: 16px;
}
.accordion-button:not(.collapsed)::after{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(-180deg);
}
.gift-body .name {
    font-weight: 600;
}
.gift-body .gift-sub-1 {
    width: 80%;
    text-align: left;
}
.gift-body .gift-sub-2 {
    width: 20%;
    text-align: center;
}
.gift-main-body .line {
    position: relative;
    overflow: hidden;
    border-top: 1px solid rgba(0, 0, 0, .05);
    margin-top: 10px;
    padding-top: 10px;
}
.gift-body .btn-action {
    width: 60px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 12px;
    border: 1px solid #e1e1e1;
    color: #333;
    letter-spacing: .5px;
    text-align: center;
    line-height: 24px;
    padding: 0 4px;
}
.gift-body .a-btn{
    padding: 4px 6px;
}
.gift-body .kakaopay {
    background: #ffeb00;
    border-color: #ffeb00;
}
.kakaopay .kakao-btn{
    width: 38px;
    height: 12px;
}


.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    /* ideally, transition speed should match zoom duration */
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}
.flower{
    width: 20px;
}
.flower-div{
    width: 80px;
    display: contents;
}
