@charset "utf-8";

@font-face {
    font-family: 'IropkeBatangM';
    src: url(../font/IropkeBatangM/IropkeBatangM.eot);
    src:url(../font/IropkeBatangM/IropkeBatangM.woff) format('woff');
    font-style: normal;
}

body {
    font-family: 'IropkeBatangM','Malgun Gothic','맑은 고딕','돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif !important;
    font-width: 400;
    overflow-x: hidden;
    overflow-y: auto;
    padding:0px !important;
    background-color: #fbfbfb;
    color: #544f4f;
}

.no-drag{
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webskit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    overscroll-behavior-x: none;
}

a, a:hover, a:active, a:focus {
    color: unset;
    text-decoration: none;
    cursor: pointer;
}

.cover-container{
    max-width: 500px;
}
.greeting-container{
    font-size: .9rem;
    line-height: 2.5rem;
}
.name-container{
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 20px;
}
.name-block{
    display: flex;
    flex-direction: column;
    width: 65px;
}
.date-container{
    background-color: #f6f5f5;
}
.location-container{
    /*background-color: #fafafa;*/
}
.thank-container{
    color: #544f4f;
}
.mw-50{
    min-width: 50px;
}
.lh-15{
    line-height: 1.5;
}
.font-small{
    font-size: smaller;
}

.relation{
    font-size: 1rem;
    color: #8a857f;
}
.mr-5{
    margin-right: 5px;
}
.mr-10{
    margin-right: 10px;
}
.link-btn{
    line-height: 2rem;
    font-size: .9rem;
}
.location-address {
    font-size: 15px;
    color: #797979;
    margin-bottom: 30px;
}
.main-img{
    background-image: url(../img/main/31.jpeg);
    background-size: cover;
    background-position: top;
    height: 700px;
}

.sub-img{
    background-image: url(../img/main/22.jpg);
    background-size: cover;
    background-position: top;
    background-position-y: -30px;
    height: 360px;
    border-radius: 6px;
    max-width: 390px;
}
.footer-img{
    background-image: url(../img/main/46.jpg);
    background-size: cover;
    background-position: center;
    height: 450px;
}
.grid-sizer, .grid-item {
    /*width: 25%;*/
    width: 100px;
}
.grid-item {
    height: 100px;
    float: left;
    border-radius: 5px;
    margin:5px;
    overflow:hidden;
}
.grid-item img {
    display: block;
    min-width: 100%;
    max-width: 100%;
    transform: scale(1.0);
    transition: transform .5s;
}
.grid-item:hover {
    opacity: 0.8;
    cursor: pointer;
}
.grid-item img:hover {
    transform: scale(1.5);
    transition: transform .5s;  /* 시간 설정 */
}

#calendar {
    padding: 20px 0;
    border: 0.5px solid #d1c8c8;
    border-left: 0;
    border-right: 0;
}

#calendar .week {
    display: flex;
}
#calendar .week div:nth-child(1) {
    color: #e95a42;
}
#calendar .day {
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#calendar .holiday {
    color: #e95a42;
}
#calendar .highlight {
    background: radial-gradient(ellipse at center, #e95a42 60%, #ffffff00 61%);
    color: #fff;
}
#calendar .empty {
    width: 38px;
    height: 38px;
}

.map-navi {
    text-align: left;
    padding: 6px 10px;
    display: flex;
    color: #000;
    font-size: .9rem;
    height: 3rem;
    background-color: #f2eeee;
}
.map-navi>div {
    flex: 1.2;
    margin: auto;
    height: 1.1rem;
    line-height: 1.1rem;
    border-right: 1px solid rgba(97, 80, 67, .15);
    text-align: center;
    cursor: pointer;
}
.map-navi img {
    position: relative;
    top: -1px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 4px;
    border-radius: 16%;
}

.map-navi>div:last-child {
    flex: 1;
    border-right: 0;
}

.copyright {
    font-size: 10px;
    color: rgba(0, 0, 0, .4);
    letter-spacing: .5px;
}
.copyright-saybeom{
    color: rgba(0, 0, 0, .7);
}
.d-countdown {
    background: #f2eeee;
    color: #89757a;
    border-radius: 8px;
    height: 70px;
    margin: 0 20px;
}
.countdown-show4 .countdown-section {
    line-height: 25px;
    padding-top: 10px;
    width: 24.5%;
}
.countdown-amount {
    font-size: 180%;
}
.countdown-period {
    font-size: smaller;
    color: #c2b2b2;
}
.red-color{
    color: #e95a42;
}
.way-map .way{
    text-align: left;
    display: flex;
    padding: 10px 0 20px;
    border-bottom: 1px solid #e9e5e5;
}
.way-map .guide{
    font-size: 13px;
    line-height: 1.7rem;
    display: grid;
    padding: 0 20px;
}
.way-map .way-div{
    padding: 0px 20px;
}
.way-map .way-type{
    color: #89757a;
}
.way-map .way-title{
    max-width: 150px;
    font-weight: bold;
}
